{% extends 'basic.html' %}

{% block body %} 
{% load static %}


<main id="main">



      <section id="features" class="feature-section ptb-100 gray-light-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
          <div class="section-heading text-center mb-5" style="padding-top: 8%;">
            <h2 class="sub-heading">Best Institute in Haridwar</h2>
            <p>Tailor-made digital marketing solutions to match your unique business needs.</p>
          </div>
        </div>
      </div>

     


      <!--feature new style start-->
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-start mb-sm-0 mb-md-5 mb-lg-5">
                <img
                  src="https://img.icons8.com/external-ddara-flat-ddara/54/000000/external-competitor-digital-marketing-ddara-flat-ddara.png" />
                <div class="icon-text">
                  <h5 class="mb-2">Competitor Analysis</h5>
                  <p>Knowing what your competition is doing is winning half the battle. So, we study the market and your
                    competition to draw up an online marketing strategy that can get the best organic results for you.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-start mb-sm-0 mb-md-5 mb-lg-5">
                <img
                  src="https://img.icons8.com/external-phatplus-lineal-color-phatplus/54/000000/external-audit-calculator-tools-phatplus-lineal-color-phatplus.png" />
                <div class="icon-text">
                  <h5 class="mb-2">Technical Audit</h5>
                  <p>Once on board, righting the wrongs is our first priority. With a thorough technical audit of your
                    website we identify and isolate the issues that are affecting your online performance, before our
                    SEO experts and developers set out to fix them.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-start mb-sm-0 mb-md-5 mb-lg-5">
                <img
                  src="https://img.icons8.com/external-smashingstocks-outline-color-smashing-stocks/54/000000/external-seo-seo-and-development-smashingstocks-outline-color-smashing-stocks.png" />
                <div class="icon-text">
                  <h5 class="mb-2">Off-page SEO</h5>
                  <p>Not everything we do happens on your website though. With Off-page SEO activities we tell the world
                    about the amazing, SEO-friendly website of yours, generating high-quality backlinks to increase
                    online relevance, authority and traffic.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 d-none d-sm-none d-md-block d-lg-block">
          <div class="position-relative pb-md-5 py-lg-0">
            <img alt="Image placeholder" src="{% static 'assets/img/akjhap.png' %}" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-start mb-sm-0 mb-md-5 mb-lg-5">
                <img
                  src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/54/000000/external-keyword-online-marketing-wanicon-lineal-color-wanicon.png" />
                <div class="icon-text">
                  <h5 class="mb-2">Keyword Research &amp; Selection</h5>
                  <p>With careful keywords research and selection, we plan for winning the other half of the online
                    battle. Our in-depth keywords research helps in drawing up an SEO strategy that helps you make
                    informed decisions, always.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-start mb-sm-0 mb-md-5 mb-lg-5">
                <img
                  src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/54/000000/external-content-digital-marketing-flaticons-lineal-color-flat-icons-2.png" />
                <div class="icon-text">
                  <h5 class="mb-2">Content Strategy</h5>
                  <p></p>
                  <p>Next up, we ensure that the messaging is engaging and meaningful for your target audience by
                    optimising website content with relevant keywords. Just so you know, Google too loves content with
                    the right sprinkle of keywords.</p>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-start mb-sm-0 mb-md-5 mb-lg-5">
                <img
                  src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/54/000000/external-view-based-conversions-big-data-flaticons-lineal-color-flat-icons.png" />
                <div class="icon-text">
                  <h5 class="mb-2">Optimising Conversions</h5>
                  <p>After optimising your website for SEO, we set out to meet online business goals that matter to you
                    the most – conversions and lead generation. With improved CTRs you can start expanding your business
                    both online and offline.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--feature new style end-->
    </div>
  </section>



    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <section>
      <div class="container showimg d-flex justify-content-center" data-aos="zoom-in">
        <img src="{% static '/assets/img/banner.png' %}" class="img-fluid" alt="">
      </div>
    </section>
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
    
              </div>
            </div>
    
          </div>
        </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  {% endblock %}