{% extends 'basic.html' %}

{% block body %} 
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Jee (Main + Advance)</h2>
        
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{% static 'assets/img/course-details.jpg' %}" class="img-fluid" alt="">
            <h1 class="h3 mt-4">Jee (Main + Advance)</h1>
            <p>
              The Joint Entrance Examination, JEE (Main) comprises two papers. Paper 1 is conducted for admission to Undergraduate Engineering Programs (B.E/B.Tech.) at NITs, IIITs, other Centrally Funded Technical Institutions (CFTIs), and Institutions/Universities funded/recognized by participating State Governments. JEE (Main) is also an eligibility test for JEE (Advanced), which is conducted for admission to IITs. Paper 2 is conducted for admission to B. Arch and B. Planning courses in the country.
</p>

<p>
  The JEE (Main) – 2023 will be conducted in 02 (two) sessions for admissions in the next academic session. The candidates will thus benefit in the following ways:
</p>
<div class="content">



<ul>
  <li> This will give two opportunities to the candidates to improve their scores in the examination if they are not able to give their best in one attempt.
  </li>
  <li> In the first attempt, the students will get a first-hand experience of taking an examination and will know their mistakes which they can improve while attempting for the second time</li>
  <li> This will reduce the chances of dropping a year and droppers would not have to waste an entire year.</li>
  <li> If anyone missed the examination due to reasons beyond control (such as the Board examination), then he/she will not have to wait for one entire year.</li>
  <li> A candidate need not appear in both Sessions. However, if a candidate appears in more than one Session then his/her best of the JEE (Main) – 2023 NTA Scores will be considered for preparation of the Merit List/ Ranking </li>
</ul>
</div>

          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="#">Walter White</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>$165</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>30</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Schedule</h5>
              <p>5.00 pm - 7.00 pm</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Services Section ======= -->
    <section id="services1" class="services1">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Download</h2>
          <p>Syllabus</p>
        </div>
  
  
        <div class="row">

            
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><img src="{% static 'assets/img/open-book.png' %}" />
                  </div>
                  <h4><a href="{% static 'assets/pdffile/SYLLABUS for JEE (Main).pdf' %}" download>Syllabus of Jee (Mains+advance)</a></h4>
                  <p>Click Here to download Syllabus</p>
                </div>
              </div>
              
      
      
            
  
  
        </div>
  
      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
  {% endblock %}


 